<ion-toolbar text-center color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="test()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
<ion-content>
  <div id="map" style="width:100%; height:100%;"></div>
</ion-content>