<!-- <ion-header>
  <ion-title>login</ion-title>
</ion-header> -->

<ion-content>
  <div>
    <img src="assets/icon/favicon.png" alt="">
  </div>
  <br><br>
  <form action="">
      <div class="inputs">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="contact"></ion-icon>
              Ingrese su Usuario
            </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
        <br>
        <div class="inputs">
          <ion-item>
            <ion-label position="floating">
            <ion-icon name="lock"></ion-icon>
            Ingrese su Contraseña
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </div>
        <br>
        <div class="inputs">
            <ion-item class="sesion">
                <ion-label>Modo Sesión: </ion-label>
                <ion-label>{{networkStatus && networkStatus.connected ? "Online" : "Offline"}}</ion-label>
            </ion-item>
        </div>
        <br>
        <div class="inputs">
          <ion-button [color]="networkStatus && networkStatus.connected ? 'secondary' : 'danger'" expand="block" (click)="putMapa()">Ingresar</ion-button>
        </div>
  </form>
</ion-content>
